<a href="https://colab.research.google.com/github/omarvz/Colab_notebooks/blob/main/101_110_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas

### Table of contents:
* [Import biblioteki](#0)
* [Exercise 101](#1)
* [Exercise 102](#2)
* [Exercise 103](#3)
* [Exercise 104](#4)
* [Exercise 105](#5)
* [Exercise 106](#6)
* [Exercise 107](#7)
* [Exercise 108](#8)
* [Exercise 109](#9)
* [Exercise 110](#10)

### <a name='0'></a> Import of libraries

In [ ]:
import numpy as np
import pandas as pd

pd.__version__

### <a name='1'></a> Exercise 101
From the list below:
```
stocks = ['PLW', 'CDR', '11B', 'TEN']
```
Create a Series object.

__Expected result:__

```
0    PLW
1    CDR
2    11B
3    TEN
dtype: object
```

In [ ]:
# enter solution here

### <a name='2'></a> Exercise 102
From the dictionary below:

```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
```
Create a Series object and assign it to the _quotations_ variable.

__Expected result:__

```
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64
```

In [ ]:
# enter solution here

### <a name='3'></a> Exercise 103

Convert _quotations_ to a list.

__Expected result:__
```
[387.0, 339.5, 349.5, 391.0]
```

In [ ]:
# enter solution here

### <a name='4'></a> Exercise 104
Convert the _quotations_ object to the _DataFrame_ object. Set the column name to _price_.

In [ ]:
# enter solution here

### <a name='5'></a> Exercise 105
Using the _numpy_ library, build the following _Series_ object:

```
101    10.0
102    20.0
103    30.0
104    40.0
105    50.0
106    60.0
107    70.0
108    80.0
109    90.0
dtype: float64
```

In [ ]:
# enter solution here

### <a name='6'></a> Exercise 106
The following object of type _Series_ is given:
```
series = pd.Series(['001', '002', '003', '004'], list('abcd'))
```
Convert object type _series_ to _int_ values.

In [ ]:
# enter solution here

Convert object type _series_ to _float_ values.

In [ ]:
# enter solution here

### <a name='7'></a> Exercise 107
To the following _quotations_ object:
```
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
```
Add two elements:
* key: BBT, value: 25.5
* key: F51, value: 19.2

__Expected result:__
```
PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
BBT     25.5
F51     19.2
dtype: float64
```

In [ ]:
# enter solution here

### <a name='8'></a> Exercise 108
Convert the _quotations_ object from the previous exercise to an _DataFrame_ object. Reset the index and name the columns '_ticker_' and _'price'_.

In [ ]:
# enter solution here

### <a name='9'></a> Exercise 109

Build the _DataFrame_ object below and assign it to the _companies_ variable:

|    | company   |   price | ticker   |
|---:|:----------|--------:|:---------|
|  0 | Amazon    |  2375   | AMZN.US  |
|  1 | Microsoft |   178.6 | MSFT.US  |
|  2 | Facebook  |   179.2 | FB.US    |

In [ ]:
# enter solution here

### <a name='10'></a> Exercise 110
Convert the first column of the _companies_ object to an index.

In [ ]:
# enter solution here

Extract row for company _Facebook_ from object _companies_.

In [ ]:
# enter solution here

Extract price for _Microsoft_

In [ ]:
# enter solution here